@mixin color-variable {
    --ragin-beige: #fff5d7;
    --coral-pink: #ff5e6c;
    --sleuthe-yellow: #feb300;
    --leaf-pink: #ffaaab;
    --royal-purple: #6b4ee6;
    --35-years-old-purple: #5252d4;
    --brilliant-rose: #ea37a3;
    --mirage-dark: #201932;
    --picton-blue: #2bbef2;
    --light-picton-blue: #70cff1;
    --blue-popsicle: #0f2862;
    --buttercup: #f5b31e;
    --gray: #e1dee6;
    --light-green: #71c085;
    --danger: #ff0000;

    --dark-green: #15883e;
    --black: #000;
    --light-black: #282828;
    --mini-black: #181818;
    --white: #fff;
    --light-white: #919496;
    --blue: #2941ab;
    --sky-blue: #1877f2;
    --gray: #8c8c8c;
    --light-gray: #616467;
    --gradient-gray: #535353;
    --light-pink: #ffcdd2;

    --error: #cc0000;

    --light-gray: #b3b3b3;
}
