@import '/src/assets/styles/mixins.scss';

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2rem;

    .brand {
        height: 8rem;
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: var(--text-primary);
        font-family: 'Belleza', 'Roboto', sans-serif;
    }

    .list {
        display: flex;
        flex-direction: column;

        .list-item {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            text-decoration: none;
            padding: 2rem;
            margin: 0.6rem 0;
            border-radius: 1rem;
            color: var(--text-primary);
            // box-shadow: var(--text-secondary) 0px 1px 4px;
            box-shadow: var(--text-secondary) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            transition: all 0.15s ease-in-out;

            .icon {
                margin-right: 1rem;
            }

            &:hover,
            &.active {
                color: var(--primary-color);
                background-color: var(--background2-color);
            }
        }
    }
}
