.table-container {
    // border-radius: 1rem;

    table {
        thead {
            background-color: var(--background-color);

            th {
                line-height: 3rem;
                font-size: 1.6rem;
                color: var(--text-primary);
            }
        }

        tbody {
            background-color: var(--background2-color);
            td {
                font-size: 1.4rem;
                color: var(--text-primary);
                font-weight: 500;
            }
        }
    }
}
