.container {
    .header {
        display: flex;
        padding: 0 32px 24px;

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 240px;
            height: 240px;
            // margin-right: 24px;
            // color: var(--primary-color);
            // background: rgb(0, 128, 0);
            // background: linear-gradient(130deg, rgba(0, 128, 0, 1) 35%, rgba(0, 212, 255, 1) 100%);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            margin-left: 24px;

            .type {
                font-size: 1.4rem;
            }

            .name {
                font-size: 4.5rem;
                font-weight: 700;
                margin-top: 10px;
            }

            .description {
                margin-top: 15px;
                font-size: 1.6rem;
                color: var(--text-secondary);

                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                overflow: hidden;
            }

            .detail {
                margin-top: 10px;

                .owner-name {
                    font-size: 1.5rem;
                    font-weight: 700;
                    text-decoration: none;
                    padding-right: 5px;
                    color: var(--text-primary);

                    &:hover {
                        text-decoration: underline;
                    }

                    // &::before {
                    //     content: '\00B7';
                    //     padding-left: 5px;
                    // }
                }

                .year,
                .total-tracks,
                .total-saved {
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin-right: 5px;
                    color: var(--text-primary);

                    &::before {
                        content: '\00B7';
                        padding-right: 5px;
                    }
                }
                .total-time {
                    font-size: 1.5rem;
                    font-weight: 700;
                    margin-right: 5px;
                    color: var(--text-secondary);
                }
            }
        }
    }

    .actions {
        padding: 0 32px;
        display: flex;
        align-items: center;

        .action {
            margin-right: 8px;
        }

        .play-btn {
            // color: var(--primary-color);
            color: var(--dark-green);
            z-index: 10;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .content {
        padding: 0 32px;
        margin-top: 25px;

        .table-container {
            border-radius: 1rem !important;

            table {
                thead {
                    background-color: var(--background2-color);

                    th {
                        // line-height: 3rem;
                        font-size: 1.6rem;
                        font-weight: 500;
                        color: var(--text-primary);
                        text-transform: capitalize;
                    }
                }

                tbody {
                    td {
                        font-size: 1.4rem;
                        color: var(--text-primary);
                        font-weight: 500;

                        .edit_btn {
                            color: var(--blue-black);
                            svg {
                                width: 2rem;
                                height: 2rem;
                            }
                        }

                        .delete_btn {
                            color: var(--error);
                            svg {
                                width: 2rem;
                                height: 2rem;
                            }
                        }

                        .play_btn {
                            color: var(--primary);
                            svg {
                                width: 3rem;
                                height: 3rem;
                            }
                        }

                        .song_img {
                            width: 3rem;
                            height: 3rem;
                            border-radius: 50%;
                            object-fit: contain;
                        }
                    }
                }
            }

            .track-container {
                .order {
                    min-width: 25px;
                    cursor: default;
                    display: flex;
                    justify-content: center;

                    .order-number {
                    }

                    .play-btn {
                        display: none;
                    }
                }

                .info {
                    display: flex;
                    align-items: center;
                    font-size: 1.6rem;

                    .left {
                    }

                    .right {
                        margin-left: 8px;

                        .name {
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;

                            .name-link {
                                font-size: 1.6rem;
                                font-weight: 700;
                                color: var(--text-primary);
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }

                                &.active {
                                    color: var(--primary-color);
                                }
                            }
                        }

                        .artists {
                            display: -webkit-box;
                            overflow: hidden;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;

                            a {
                                font-size: 1.4rem;
                                font-weight: 700;
                                color: var(--text-secondary);
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }
                        }
                    }
                }

                .album-name {
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;

                    .album-name-link {
                        font-size: 1.4rem;
                        font-weight: 700;
                        color: var(--text-secondary);
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .added-date {
                    font-size: 1.4rem;
                    font-weight: 700;
                    color: var(--text-secondary);
                    cursor: default;
                }

                .track-menu {
                    // display: none;
                    min-width: 25px;
                }

                &:hover {
                    background-color: var(--background3-color);
                    transition: all 0.2s ease-in;

                    .order {
                        color: var(--primary-color);
                        .order-number {
                            display: none;
                        }

                        .play-btn {
                            display: block;
                        }
                    }

                    .info {
                        .left {
                        }

                        .right {
                            .artists {
                                a {
                                    color: var(--text-primary);
                                }
                            }
                        }
                    }

                    .album-name {
                        .album-name-link {
                            color: var(--text-primary);
                        }
                    }

                    .track-menu {
                        // display: flex;
                    }
                }

                &.active {
                    background-color: var(--background3-color);
                    transition: all 0.2s ease-in;

                    .order {
                        color: var(--primary-color);
                    }

                    .track-menu {
                        display: flex;
                    }
                }
            }
        }
    }

    .notification {
        margin: 40px 0;
        font-size: 2rem;
        text-align: center;
    }

    .section-container {
        margin-top: 50px;
        padding: 0 32px 24px;

        .heading {
            font-size: 2.4rem;
            margin: 40px 0 25px;
        }
    }
}
