.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    p {
        margin: 0.4rem 0;
        font-size: 1.8rem;
    }

    .radio-input {
        span {
            text-transform: capitalize;
        }
    }
}
