@import '/src/assets/styles/mixins.scss';

$navbar-height: 8rem;

.container {
    display: flex;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);

    .sidebar {
        width: 25rem;
        border-right: 0.1rem dashed var(--text-primary);

        overflow-y: scroll;

        &::-webkit-scrollbar-track {
            border: 1px solid var(--text-color);
            // background-color: var(--background-color);
        }

        &::-webkit-scrollbar {
            width: 2px;
            // background-color: var(--background-color);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--text-secondary);
        }

        // &::-webkit-scrollbar-thumb:hover {
        //     // background-color: var(--text-primary);
        // }
    }

    .main {
        position: relative;
        width: 100%;

        .navbar {
            height: $navbar-height;
        }

        .main-content {
            color: var(--text-primary);
            height: calc(100vh - $navbar-height);
            width: 100%;
            overflow: scroll;
            overflow-x: hidden;

            &::-webkit-scrollbar-track {
                border: 1px solid var(--text-color);
                background-color: var(--background-color);
            }

            &::-webkit-scrollbar {
                width: 10px;
                background-color: var(--background-color);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--text-secondary);
            }

            &::-webkit-scrollbar-thumb:hover {
                background-color: var(--text-primary);
            }
        }
    }
}
